<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type='text/css' rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link type='text/css' rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js">
	<link type='text/css' rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js">
  <link type='text/css' rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <style>
    html {
			margin: 0;
			padding: 0;
			height: 100%;
			background:url(https://i.pinimg.com/736x/d8/cf/90/d8cf90fc4aef6141ee60620b46ab001d.jpg)
			no-repeat center center fixed !important;
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
  </style>
    <title>Document</title>

</head>
<body>
    
  <nav class="navbar navbar-dark bg-dark">
    <h1 style="color: white;">NOTAS DEL CURSO</h1>
  </nav>
  <br><br><br>  
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Cod_Estudiante</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Nombres</th>
            <th scope="col">Bimestre1</th>
            <th scope="col">Bimestre2</th>
            <th scope="col">Bimestre3</th>
            <th scope="col">Bimestre4</th>
            <th scope="col">Promedio</th>
            <th scope="col">Observaciones</th>
            
            
          </tr>
        </thead>
        <tbody>
            {% for student in Estudiante %}
            

                {% csrf_token %}
          <tr>

            
                <td>{{student.Id_Estudiante.Id_Estudiante}}</td>
                <td>{{student.Id_Estudiante.Apellidos}}</td>
                <td>{{student.Id_Estudiante.Nombres}}</td>
              <td>{{ student.Id_Bimestre.Bimestre1 }}</td>
              <td> {{ student.Id_Bimestre.Bimestre2 }}</td>
                <td>{{ student.Id_Bimestre.Bimestre3 }}</td>
                <td>{{ student.Id_Bimestre.Bimestre4 }}</td>

                
                
            
            
            <td>Promedio</td>
            <td>Observaciones</td>
            

            
          </tr>

          {% endfor %}
          

        </tbody>
      </table>

</body>
</html>