<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load fontawesome_5 %}
    {% load static %}
    
    <link rel="stylesheet" type='text/css' href="{% static 'pruu.css' %}">
    
  
    {% load bootstrap4 %}
 
	  {# CSS Bootstrap #}
      {% bootstrap_css %}
      {% fontawesome_5_static %}
     
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    
</head>


{% include 'NavBar.html' %}

      
<body>

  
  {% include 'Sidebar.html' %}

  
<div class="contenedor">
    <div class="grid-item1"><div class="Ver">Ver Almacen</div>
        </div>
    <div class="grid-item2">
            
            <div class="table-wrapper-scroll-y my-custom-scrollbar"><table class="table-striped">
                <thead class="thead-dark">
                    
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        
                        <th>Accion</th>
                        
                      </tr>
                </thead>
                <tbody class="">
                {% for Productix in Almacen %}
                <tr>
                  <td>{{Productix.id.id}}</td>
                  <td>{{Productix.id.Nombre}}
                        {{Productix.id.Modelo}}
                  </td>
                <td>{{Productix.Cantidad}}</td>
                
                
                
                
                <td>
                    
                    <a href="/delete5/{{Productix.id.id}}" class="plus3" >
                        <i class="fas fa-trash-alt"style="color:rgb(255, 255, 255);"></i>
                    </a>
                    
                </td>
                </tr>
                {% endfor %}
                
                </tbody>
                    </table></div>
    </div>
</div>




</body>
</html>